body{
  background-color: rgb(164, 157, 157);
}
.main {
  padding: 30px;

}
.user-name{
  border-radius: 25px;
  width: 450px;
  height: 425px;
}
.user-name p {
  font-size: 23px;
}
.connect{
  border-radius: 25px;
  width: 450px;
  height: 350px;
  margin-top: 30px;
}
button{
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
}
.right{
  margin-left: 40px;
  border-radius: 25px;
} 
.gray{
  color: gray;
}
.image-1 , .image-2 , .image-3{
  width: 150px;
  height: 100px;
}
.all-images{
  margin-top: 100px;
}
.parent-2{
  margin: 50px 0 50px 0;
}
.content-1 , .content-2 , .content-3{
  margin-left: 30px;
}
.footer{
  border-radius: 25px;
  padding: 30px;
  margin-top: 40px;
}
.light-gray{
  color: rgb(178, 168, 168);
  font-size: 18px;
}
.footer p{
  margin-top: 20px;
}
